.meni{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    background-color: #0b1115;
    text-align: center;
}

img{
    padding-top: 0;
    width: 90px;
    height: 80px;
}

.meni a{
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.meni a:hover{
   background-color:rgb(181,154,128,0.7);
}

.meni a.active{
    background-color:rgb(181,154,128);
}

.pocetni{
    height: 900px;
    background-image: url('pok.jpg');
}

#dvogled{
    height: 900px;
    opacity: 50%;
    width: 100%;
}

#naslov1 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-weight: bold;
    color: rgb(254,254,254, 0.5);
}

h2{
    position: absolute;
    top: 70%;
    left: 50%;
    color: rgb(254,254,254, 0.7);
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-weight: bold;
}

body{
    font-family: "Trirong", serif;
    background-color: #0b1115;
}

.onama{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1c2c34;
  
}

#pasus{
    color: white;
    font-size: 20px;
    text-align: left;
    padding-left: 55%;
    padding-right: 100px;
    font-style: italic;
    opacity: 70%;
  
}

#naslov2{
    color: rgb(181,154,128);
    font-size: 40px;
    padding-left: 50px;
    padding-top: 50px;

}

#najuspjesnija{
    width: 500px;
    height: 300px;
    padding-bottom: 20px;
}

h3{
    padding-top: 100px;
    font-size: 30px;
    color: rgb(254,254,254,0.7);
}

#kampanja{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nudimo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #304955;
    
}

#naslov3{
    font-size: 50px;
    color: rgb(181,154,128);;
}

.row1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
}

.row2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 50px;
}

.oglas{
    width: 300px;
    margin-left: 60px;
    background-color: rgb(181,154,128, 0.7);
    padding: 20px;
}

.ikona{
    width: 50px;
    height: 50px;
}

.preuzmite{
    display: flex;
    flex-direction: row;
}

#cijene{
    font-size: 20px;
    color: white;
}

.pdf{
    width: 50px;
    height: 50px;
}

.linkovi{
    text-decoration: none;
    color: white;
}

.brojac{
    display: flex;
    flex-direction: row;
    height: 200px;
    justify-content: space-evenly;
    color: white;
    border: 1px solid rgb(181,154,128);
}

#broj{
    background-color: #304955;
    width: 60%;
    text-align: center;
    font-size: 50px;
    
}

#br{
    background-color: #263b45;
    width: 40%;
    text-align: center;
    font-size: 30px;
}

.partnerske-firme {
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: #172027;
}


#bingo{
    padding-left: 20px;
    height: 40px;
    padding-right: 20px;
    padding-top: 15px;
}

#dm{
    height: 40px;
    width: 50px;
    padding-right: 20px;
    padding-top: 15px;
}
#pasa{
    height: 40px;
    width: 100px;
    padding-right: 20px;
    padding-top: 15px;
}

#oslobodjenje{
    height: 40px;
    width: 120px;
    padding-right: 20px;
    padding-top: 10px;
}
#binbin{
    height: 50px;
    padding-right: 20px;
    padding-top: 10px;
}
#ovako{
    height: 40px;
    padding-right: 30px;
    width: 50px;
    padding-top: 20px;
}

#meggle{
    height: 50px;
    padding-right: 20px;
    padding-top: 10px;
}
#bht{
    height: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-top: 25px;
}

#sarajevo{
    height: 60px;
    padding-right: 20px;
}

#bimal{
    height: 30px;
    padding-top: 20px;
    padding-right: 20px;
}

