.header-container {
   position: relative;
   text-align: center;
}
h1{
    color: rgb(181,154,128,0.7);
    font-size: 95px;
        position: absolute;
        padding: 10px;   
        transform: translate(-50%, -50%);
        top: 40%;
  left: 50%;  
}
h2{
    color: rgb(181,154,128,0.7);
    font-size: 25px;
        position: absolute;
        padding: 10px;   
        transform: translate(-50%, -50%);
        top: 53%;
  left: 50%;  
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-style {
    width: 200px;
    height: 200px;
    border: 1px solid green;
}

.left-container {
    border: 1px solid brown;
}


body {
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Trirong", serif; 
    background-image: url('pok.jpg');
    font-family: "Trirong", serif;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color:rgb(181,154,128,0.7);
    color: white;
}

.logo {
    float: left;
    width: 70px;
    height: 80px;
    padding-left: 20px;

}

.partnerske-firme {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #172027;
}

.partnerska-slika {
    width: auto;
}

#bingo{
    height: 30px;
    padding-right: 20px;
}

#dm{
    height: 30px;
    padding-right: 20px;
}
#pasa{
    height: 30px;
    padding-right: 20px;
}

#oslobodjenje{
    height: 30px;
    padding-right: 20px;
}
#binbin{
    height: 40px;
    padding-right: 20px;
}
#ovako{
    height: 40px;
    padding-right: 30px;
    width: 50px;
}

#meggle{
    height: 40px;
    padding-right: 20px;
}
#bht{
    height: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

#sarajevo{
    height: 60px;
    padding-right: 20px;
}

#bimal{
    height: 30px;
}

#dvogled{
    opacity: 50%;
    height: 800px;
    width: 100%;
}

.info-box--standard-centered .info-box-content .info-box-title {
    font-size: 10px !important;
    text-transform: none;
}

h5{
    font-size: 15px;
    font-style: bold;
}

.row {
    display: flex;
    justify-content: space-between;
}

.row2{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.oglasavanja {
    background-color: rgb(181,154,128,0.5);
    border: 1px solid #484651;
    width: 400px;
    padding-bottom: 70px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    
}

.oglasavanja2 {
    background-color: rgb(181,154,128,0.5);
    border: 1px solid #484651;
    width: 400px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 25px;;

}

#tv{
    margin-left: 200px;
}

#rad{
    margin-right: 200px;;
}


/* For large screens (lg) and medium screens (md) */
@media (min-width: 992px) {
    .custom-col-lg-4 {
        width: 33.333%;
    }

    .custom-col-md-6 {
        width: 50%;
    }
}

/* For small screens (sm) */
@media (max-width: 991px) {
    .custom-col-sm-6 {
        width: 50%;
    }
}

/* For extra small screens (xs) */
@media (max-width: 767px) {
    .custom-col-xs-12 {
        width: 100%;
    }
}


.slikica{
    width:60px;
    height: 60px;
}